link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

body{
    font-family:Arial;
}

.wrapping{
   height: 100%;
   width: 100%;
}
.inner{
    display:flex;
    margin:0;
    flex-direction: column;
    min-width: 0;
    min-height: 90vh;

}
.main-div{
    text-align:center;
    margin-top:30px;
    flex:1;
}
/*navigation-bar*/
li{
    display:inline;
    padding: 10px 5px 0px 0px;
    float: right;
}
li a{
    display:block;
    padding:7px 9px;
    color:black;
    text-align: center;
}
ul{
    align-items: flex-end;
    align-content: flex-end;

}
/*logo*/
#google-logo{
    padding-top: 109px;
}