link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

body{
    font-family:Arial;
}

.wrapping{
   height: 100%;
   width: 100%;
}
.inner{
    display:flex;
    margin:0;
    flex-direction: column;
    min-width: 0;
    min-height: 90vh;

}
.main-div{
    text-align:center;
    margin-top:30px;
    flex:1;
}
/*navigation-bar*/
li{
    display:inline;
    padding: 10px 5px 0px 0px;
    float: right;
}
li a{
    display:block;
    padding:7px 9px;
    color:black;
    text-align: center;
} li a:hover{
    color: blue;
}
ul{
    align-items: flex-end;
    align-content: flex-end;

}
/*logo*/
#google-logo{
    padding-top: 200px;
}
/*search-bar*/
.search-bar{
    position:relative;
    width:100%;
    margin-top:20px;
}
#search-bar{
    width: 30%;
    height:20%;
    border-radius: 30px;
    padding-left:45px;
    padding-right:30px;
    border:1px soild #ccc;
    outline:none;
    font-size:16px;
}
.search-bar .icons{
    position: absolute;
    top:0;
    margin-left:32%;
    width:33%;
    height:10%;
    display:flex;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}
/*buttons*/
.submit-button{
    align-items: center;
    padding: 12px 26px;
    font-size: 16px;
    display: block;
    justify-content: space-between;
}
.actula-submit:hover{
    border:1px solid rgba(36, 0, 167, 0.733);
    color:rgb(0, 0, 0)
}
.randomize:hover{
    border:1px solid rgba(36, 0, 167, 0.733);
    color:rgb(0, 0, 0)
}
/*footer*/
.footer{
    width: 100%;
    text-align: center; 
    position: absolute;
    bottom: 0;
    left:0;
    display: flex;
    justify-content: space-between;

}
.leftfooter{
    padding:0px 20px 12px;
}
.right-footer{
    padding:0px 20px 12px;
}
.left-footer li a:hover{
    color:blue;
}
.right-footer li a:hover{
    color: blue;
}